.mainProfile{
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    background: url("/code3.png") no-repeat center top fixed;


    .mainProfileCard{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 60%;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        margin: 120px 0;
        margin-left: 20px;
        
        
        .mainProfileContent{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 70%;
            background: #000;
            padding: 20px 20px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 1.18) 0px 5px 4px 0px;
            border: solid 3px var(--green);

            .imgContainer{
                flex-basis: 40%;
                border-right: dashed 3px var(--green);
                padding-right: 10px;

                img{
                    width: 100%;
                    border: solid 2px #fff;
                    border-radius: 20px;
                }
            }

            .presentation{
                flex-basis: 60%;

                p:first-child{
                    color: var(--green);
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    text-align: center;
                    margin-left: 0;
                }
            
                p{
                    flex-basis: 100%;
                    margin-left: 10px;
                    margin-bottom: 2px;
                }
            } 
        }
    }
    @media(max-width: 1025px){
        .mainProfileCard{
            margin: 70px;

            .mainProfileContent{
                justify-content: center;
                flex-basis: 40%;
    
                .imgContainer{
                    flex-basis: 90%;
                    border-bottom: dashed 3px var(--green);
                    border-right: none;
                    padding-bottom: 10px;
                }
                .presentation{
                    flex-basis: 95%;
                    margin-top: 5px;
                }
            }
        }
    } 
    @media(max-width: 878px){
        .mainProfileCard{
            margin: 50px;

            .mainProfileContent{
                justify-content: center;
                flex-basis: 60%;
    
                .imgContainer{
                    flex-basis: 90%;
                    border-bottom: dashed 3px var(--green);
                    border-right: none;
                    padding-bottom: 10px;
                }
                .presentation{
                    flex-basis: 95%;
                    margin-top: 5px;
                }
            }
        }
    }
    @media(max-width: 620px){
        .mainProfileCard{
            margin: 50px;
            flex-basis: 100%;
            justify-content: center;

            .mainProfileContent{
                justify-content: center;
                flex-basis: 70%;
    
                .imgContainer{
                    flex-basis: 90%;
                    border-bottom: dashed 3px var(--green);
                    border-right: none;
                    padding-bottom: 10px;
                }
                .presentation{
                    flex-basis: 100%;
                    margin-top: 5px;
                }
            }
        }
    }
}