.main{
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    background: var(--dark-gray);
    justify-content: center;

    .mainContent{
        max-width: 1366px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mainProfile{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 47%;
        justify-content: center;
        align-items: center;
        color: #fff;
        
        
        .mainProfileContent{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 90%;
            background: #000;
            padding: 20px 20px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 1.18) 0px 5px 4px 0px;
            border: solid 3px var(--green);

            .imgContainer{
                flex-basis: 40%;
                border-right: dashed 2px var(--green);
                padding-right: 10px;

                img{
                    width: 100%;
                    border: solid 2px #fff;
                    border-radius: 20px;
                }
            }

            .presentation{
                flex-basis: 60%;

                p:first-child{
                    color: var(--green);
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    text-align: center;
                    margin-left: 0;
                }
               
                p{
                    flex-basis: 100%;
                    margin-left: 10px;
                    margin-bottom: 2px;
                }
            } 
        }
    }
}