.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .mainContent{
        max-width: 1366px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    
}